<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.data.contact.fullname }}</span>
        <span class="site-description">{{ site.data.contact.job_title }}</span>
      </h1>
      <div class="header-icons">
        {% if site.data.contact.email %}
        <a aria-label="Send email" href="mailto:{{ site.data.contact.email }}"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.data.social.twitter %}
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{ site.data.social.twitter }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.data.social.instagram %}
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/{{ site.data.social.instagram }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.data.social.facebook %}
        <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/{{ site.data.social.facebook }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.data.social.linkedin %}
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.data.social.linkedin }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.data.social.github %}
        <a aria-label="Github" target="_blank" href="https://github.com/{{ site.data.social.github }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.data.social.medium %}
        <a aria-label="Medium" target="_blank" href="https://medium.com/{{ site.data.social.medium }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <div class="header-links">
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
